header img {
  width: 15%;
  display: inline-block;
  margin-bottom: 100px;
}

body {
  color: #e7e7eb;
}

main {
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 4em;
}

h4 {
  font-size: 4em;
  font-weight: 700;
}

p {
  font-size: 1.5em;
}

#results {
  height: 600px;
  position: relative;
}

#pieChart {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: conic-gradient(#c2128d 70deg, #00ffff 0 235deg);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#correct {
  display: inline-block;
  float: left;
  margin-top: 18%;
  margin-left: 5%;
  text-align: left;
}

#wrong {
  display: inline-block;
  float: right;
  margin-top: 18%;
  margin-right: 5%;
  text-align: right;
}

#rateUs {
  width: 200px;
  height: 70px;
  margin-bottom: 5%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  background-color: transparent;
  border: 1px solid #e7e7eb;
  color: #e7e7eb;
}

#rateUs:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #e7e7eb;
}
