header img {
  width: 15%;
  display: inline-block;
  margin-bottom: 100px;
}

body {
  color: #e7e7eb;
  margin-left: 9em;
  margin-right: 9em;
  margin-top: 5em;
}

main {
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 4em;
}

h4 {
  font-size: 4em;
  font-weight: 700;
}

p {
  font-size: 1.5em;
}

#results {
  height: 600px;
  position: relative;
  padding: 100px;
}

#allPie {
  position: relative;
  display: inline-block;
}

#pie {
  height: 519px;
  width: 526px;
  border-radius: 50%;
  display: inline-block;
  background: conic-gradient(deepskyblue 15% 0%, orangered 0% 85%);
  mask-image: radial-gradient(
    circle farthest-side at center,
    transparent 70%,
    white 50%
  );
}

.hollow {
  display: inline-block;
}

span {
  font-size: 24pt;
  z-index: 2;
  font-weight: bold;
  font-family: 'inter';
  position: absolute;
  inset: 50px;
  margin: auto;
  display: inline-block;
}

#correct {
  display: inline-block;
  float: left;
}

#wrong {
  display: inline-block;
  float: right;
}

#rateUs,
#retake {
  width: 200px;
  height: 70px;
  margin-bottom: 5%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  background-color: transparent;
  border: 1px solid #e7e7eb;
  color: #e7e7eb;
  margin-left: 40px;
}

#rateUs:hover,
#retake:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #e7e7eb;
}
