@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  background-image: url('../img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  min-height: 100vh;
}

h1 {
  color: #e7e7eb;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin-top: 80px;
}

h2 {
  color: green;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin-top: 80px;
}

h3 {
  color: red;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin-top: 80px;
}

#menu h1 {
  margin-bottom: 2em;
}
#cont-img {
  margin-left: 9em;
  margin-top: 5em;
  display: inline-block;
}

#cont-img img {
  width: 15%;
}

.question {
  width: 43%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15em;
}

.question h1 {
  text-align: center;
  color: white;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
}

.question span {
  font-weight: 700;
}

.conteiner-answeer {
  border-top-width: thick;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid;
  border-radius: 30px;
  cursor: pointer;
  font-size: large;
  width: 25em;
  font-weight: bold;
  height: 5em;
  margin-left: 3em;
  margin-bottom: 1em;
}

#answer {
  margin-top: 6em;
  text-align: center;
  margin-right: 300px;
  margin-left: 300px;
}
#questionContainer {
  text-align: center;
  font-family: 'Outfit';
  color: white;
  font-size: 2em;
  margin-top: 10em;
  padding-bottom: 2em;
}
#questionContainer span {
  color: #900080;
}

#timer-container {
  position: relative;
  width: 200px;
  height: 200px;
}

#timer {
  color: #e7e7eb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  z-index: 1;
}

#pie-chart {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: 20px;
  display: none;
}

#pie-chart svg {
  width: 100%;
  height: 100%;
}

#pie-chart .slice {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
  stroke: #3498db;
}

button:hover {
  background-color: #c3008e;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

#menuBtn,
#tendina,
#difficolta {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  width: 200px;
  height: 50px;
  margin: 1em;
  border: none;
}

#menu {
  text-align: center;
}

#timer-container {
  float: right;
  width: 300px;
  font-family: 'Outfit';
}
