h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
  padding-bottom: 5%;
  padding-right: 60%;
  line-height: 1.2em;
}

body {
  background-image: url('../img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #e7e7eb;
  margin-left: 9em;
  margin-top: 5em;
  min-height: 100vh;
}

header img {
  width: 15%;
  display: inline-block;
  margin-bottom: 100px;
}

h1 {
  font-size: 5em;
  padding-right: 60%;
  padding-bottom: 5%;
}

#title {
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  color: #b2018a;
  padding-bottom: 2%;
}

ul {
  font-family: 'Inter', sans-serif;
  line-height: 2em;
  list-style: disc;
  padding-left: 1.5em;
  padding-bottom: 5%;
}

ul span {
  font-weight: 700;
}

.container {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.container input {
  margin-right: 10px;
}

#footer button {
  width: 200px;
  height: 50px;
  float: right;
  margin-bottom: 5%;
  margin-right: 10%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  background-color: #e7e7eb;
  border: none;
}

button:hover {
  border-color: #00ffff;
  box-shadow: 0 0 20px #00ffff;
  outline: none;
}
